@import "../../css-config/mixins.scss";

.body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 3rem;
  // display: flex;
  // justify-content: center;
  background-color: blueviolet;
  // overflow: hidden;
  font-family: Arial, sans-serif;

  .profile-card {
    margin: 0 auto;
    max-width: 500px;
    height: 500px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    @include md {
      flex-direction: row;
      gap: 20px;
    }
    .profile {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin: 20px auto;

      h2 {
        margin: 30px auto;
        margin-bottom: 50px;
        font-size: 30px;
        color: #333;
      }
      .user-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        gap: 20px;

        p {
          font-size: 16px;
          color: #666;
        }

        .avatar {
          img {
            width: 100%;
            height: auto;
            border-radius: 50%;
          }
        }
        .user-details {
          display: flex;
        }
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12rem;
        gap: 6rem;

        .logout-button {
          display: flex;
          align-items: center;
          margin-top: 10px;
          background-color: #f0f0f0;
          border: none;
          padding: 8px 12px;
          cursor: pointer;
          font-size: 14px;
          transition: 0.3s ease;
        }

        .logout-button:hover {
          background-color: #ddd;
        }
      }
    }
  }
}
